:root {
  /* Primary Color */
  --color-vdark-magenta: hsl(300, 43%, 22%);
  --color-soft-pink: hsl(333, 80%, 67%);

  /* Neutral Color */
  --color-darkgrayish-magenta: hsl(303, 10%, 53%);
  --color-lightgrayish-magenta: hsl(300, 24%, 96%);
  --color-white: hsl(0m 0%, 100%);

  /* Font size */
  --fs-regular: 15px;

  /* Font Family */
  font-family: 'League Spartan', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat;
  background-position: top center, bottom center;
  background-size: unset, unset;
  height: 100vh;
}

/* Card Header styling */
.card-header {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  width: 50%;
}


/* Social Proof styling */
.social-proof {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* footer styling */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}